/*-- scss:defaults --*/

body {
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(50, 50, 50); /*#f4f4f4*/
}

h1 {
  font-family: 'Playfair Display', 'Times New Roman', serif;
  font-size: 32pt;
  text-align: center;
  color: white;
  margin: 3px 0 3px;
}

h3 {
  font-weight: 600;
}

hr {
  border: 0;
  height: 2px;
  background: #aaa;
  width: 50%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: 100%;
}

p {
  line-height: 1.4;
  text-align: justify;
  margin: 10px 0;
  padding: 1.5% 4%;
}

.italic {
  font-style: italic;
}

.source-list {
  text-align: left;
  width: 70%;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.source-list ul {
  padding-left: 20px;
}

.observable-map {
    text-align: center;
    margin: 0 auto;
    /*padding: 5px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 3px;*/
}

#observablehq-map-59247c07 {
    width: 90%;
    height: 100%;
    max-width: 1600px;
}

#cr-map-world-zoomable {
  margin: -370px auto 20px auto;
  width: 90%;
  border-color: #aaa;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
}

a {
  color: white;
}

.light-bg {
  margin: 0 auto;
  padding: 0px 5%;
  width: 100%;
  background-color: #eee;
  color: rgb(17, 17, 17);
}
